#ifndef ABSOLEM_FIRMWARE_INO
#define ABSOLEM_FIRMWARE_INO

__INSERT_KEYBOARD_HERE__

__INSERT_KEYMAP_HERE__

ABSOLEM_SETUP_BEGIN
    __INSERT_SETUP_HERE__
ABSOLEM_SETUP_END

ABSOLEM_LOOP_BEGIN
    __INSERT_LOOP_HERE__
ABSOLEM_LOOP_END

#endif