---
---

@import "{{ site.theme }}";

.gallery {
    text-align: center;
    margin: 20px 0;
    img {
        margin-bottom: 20px;
    }
}

main {
    color: #363f48;
    background-color: #fefefe;
    font-size: 20px;
    line-height: 1.4;
}

main h1,
main h2,
main h3 {
    padding: 0;
    border: none;
    font-weight: bold;
}

main h1 {
    font-size: 55px;
    text-align: center;
}

main h2 {
    font-size: 36px;
    margin-top: 100px;
}

main h3 {
    font-size: 26px;
    margin-top: 20px;
}

a, a:visited {
    color: #1c93c5;
}

header, footer, h1:first-child {
    display: none;
}

.wrapper {
    max-width: 1000px;
}

body {
    font-family: Helvetica, Arial, sans-serif !important;
}