---
---

@import "{{ site.theme }}";

.gallery {
    text-align: center;
    margin-bottom: 20px;
}

.markdown-body {
    color: #363f48;
    background-color: #fefefe;
    font-size: 20px;
    line-height: 1.4;
}

a {
    color: #1c93c5;
}