---
---

@import "{{ site.theme }}";

.gallery {
    text-align: center;
    margin-bottom: 20px;
}

.markdown-body {
    color: #363f48;
    background-color: #fefefe;
    font-size: 20px;
    line-height: 1.4;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3 {
    padding: 0;
    border: none;
}

.markdown-body h1 {
    font-size: 55px;
    text-align: center;
}

.markdown-body h2 {
    font-size: 36px;
    margin-top: 100px;
}

.markdown-body h3 {
    font-size: 26px;
    margin-top: 20px;
}

a {
    color: #1c93c5;
}

h1:first-child, .footer {
    display: none;
}