#include "../../controllers/Nrf52Bluefruit.h"
#include "../../decoder/wiring/MatrixWiring.h"
#include "../../decoder/debounce/DebouncePerKey.h"
#include "../../decoder/Decoder.h"

auto controller = Nrf52Bluefruit(true);
controller.manufacturer = "MrZealot";
controller.model = "Absolem";
auto wiring = MatrixWiring(&controller, {}, {});
auto debounce = DebouncePerKey();
auto decoder = Decoder(&wiring, &debounce);